<h1>Article Form</h1>

<form action="/articles" method="POST">
  <label for="title">Article Title</label><br>
  <input type="text" name="title"><br>
  <label for="content">Article Content</label><br>
  <input type="text" name="content"><br>
  <input type="submit" value="Create article">
</form>